/vendor
/node_modules
/public/build
/storage/*.key
/storage/app/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*

.env
.env.backup
.env.production
.env.local

.phpunit.result.cache
.idea
.vscode
.DS_Store
Thumbs.db